@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

[hidden] {
    display: none !important;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5rem;
    padding: 0.15rem 0.5rem;
    /* background: rgba(255, 255, 255, 0.3); */
    position: relative;
    outline: none;
    z-index: 1;
    /* &:has(:focus-visible) {
      outline: 3px solid rgb(17 21 36 / 50%);
    } */
}

.tabs-marker {
    position: absolute;
    z-index: -1;
    /* background: rgba(106, 247, 231, 0.7); */
    background: linear-gradient(
        90deg,
        rgba(157, 255, 244, 0.7) 0%,
        rgba(0, 255, 255, 0.7) 100%
    );
    top: 0.4rem;
    bottom: 0.4rem;
    left: 0;
    border-radius: 0.2rem;
    transition: 0.55s;
}

.tabs-tab {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    appearance: none;
    transition: all 150ms;
    outline-width: 2px;
    outline-offset: 2px;
    padding: 0px;
    border-width: 0;
    color: inherit;
    font-weight: 500;
    padding: 1rem;
    color: white;
    background: transparent;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.95rem;
}

.tabs-tab:hover {
    color: rgba(255, 255, 255, 1);
}

.tabs-tab.ui-active {
    pointer-events: none;
    color: rgba(255, 255, 255, 1);
}

.tabpanels {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(24, 24, 24);
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    border: 2px dashed var(--border-top);
    max-height: 327px;
    overflow-y: auto;
}

.tabpanel {
    padding: 1rem 1.25rem;
    /* text-align: center; */
    min-height: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    place-content: center;
    border-radius: 0.5rem;
}

.tabpanel:focus-visible {
    outline: 3px solid rgb(17 21 36 / 50%);
}

.tabpanel.ui-enter-active {
    transition: all 200ms;
    transform-origin: center top;
}

.tabpanel.ui-enter-from {
    opacity: 0;
    transform: scale(0.98);
}