
.rs--grid {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.rs--grid.adj {
	margin-right: 2vh;
}


.rs--grid.stats {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.container__title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: var(--color--title);
	width: 100%;
	height: 10%;
	overflow: hidden;
}

.container__title h1 {
	margin-left: 1vh;
	font-size: 1.5rem;
}

.container__title .inputBox_container {
	margin-left: auto;
}

.container__content {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	color: var(--color--title);
	width: 100%;
	height: 90%;
	overflow: hidden;
}

.scroll {
	margin-top: 2vh;
	position: relative;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	padding: 1vh;
	width: 100%;
	height: fit-content;
	max-height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1vh;
}

.scroll__dbs {
	margin-top: 2vh;
	position: relative;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	padding: 1vh;
	width: 100%;
	height: fit-content;
	max-height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1vh;
}

.box {
	position: relative;
	display: flex;
	justify-content: flex-start;
	/* padding: 0.0vh 2vh; */
	align-items: center;
	width: 100%;
	height: 10vh;
	border-top: 2px solid var(--border--top);
	background-color: var(--color-box);
	border-radius: 5px;
	transition: background-color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
	overflow: hidden;
	user-select: none;
}

.box:hover {
	background-color: var(--color-box-hover);
}


.grid--box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	height: 10vh;
}

.adjust {
	padding: 0.0vh 2vh;
	height: 100%;
}

.box .icon--box {
	width: 2.5vh;
	color: var(--color--placeholder);
}

.box .desc {
	font-size: 0.7rem;
	color: var(--bg__btn--color);
	height: 3vh;
	width: fit-content;
	max-width: 100%;
	overflow: hidden;
}

.right--icon {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: auto;
	width: 30%;
	height: 100%;
}


.--stats {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 3.5vh;
}

.tags--wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 0.2fr);
	gap: 0.5vh;
	width: 100%;
	height: 55%;
	overflow: hidden;
}

.tags {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 2vh;
	/* padding: 1vh 1vh; */
	text-align: center;
	background-color: var(--border-top);
	border: 2px dashed var(--border-top);
	border-radius: 5px;
	font-size: 0.7rem;
	color: var(--bg__btn--color);
}

.--graphic {
	height: 45%;
}

.modal_container {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.0);
	backdrop-filter: blur(5px);
	z-index: 3;
	-webkit-backdrop-filter: blur(5px);
}

.--active {
	display: flex;
	animation: bg 1s ease-in-out forwards;
}

.--hide {
	display: flex;
	animation: bg-hide .4s ease-in-out forwards;
}


.modal--style {
	position: relative;
	/* display: none; */
	opacity: 0;
	width: 90%;
	height: 80%;
	border-radius: 8px;
	background-color: var(--modal--color);
	z-index: 4;
}

.modal--title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 12%;
	overflow: hidden;
}

.txt--title {
	margin-left: 2.5vh;
	font-size: 1.1em;
	color: var(--color--title);
}

.icon--modal {
	margin-left: auto;
	margin-right: 2vh;
	color: var(--color--placeholder);
	padding: 1vh;
	padding-right: 0;
	transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	;
}

.icon--modal:hover {
	transform: scale(1.1);
	color: var(--color--secondary);
}

.shadow-sm {
	transition: all ease-in-out 0.3s;
}

.table__container {
	height: auto;
	background-color: transparent !important;
	overflow: auto;
	scrollbar-width: none;
	border-radius: 5px;
	transition: ease-in-out 0.3s all;
	width: 95%;
	height: 95%;
}

.tablaContent {
	width: 100%;
	border: 0;
	border-radius: 5px !important;
	box-sizing: border-box;
	border-collapse: collapse;
	border-spacing: 0;
}

.tablaContent td {
	border: 0;
	height: 50px;
	color: var(--color--secondary);
	padding: .1vh .5vw;

}

#resourceModalBody{
	background-color: var(--modal--body);
}

.tablaContent tbody tr td:first-child {
	width: 8vw;
}

.tablaContent tbody tr td:last-child {
	width: 8vw;
}

.tablaContent tbody tr td {
	padding: 1vh .5vw;
	color: var(--modal_td--color) !important;
	background-color: transparent !important;
	transition: .3s ease all;

}

.tablaContent tbody tr {
	background-color: transparent !important;
	/* border-bottom: 1px solid var(--border-top); */
	transition: .3s ease all;

}




.tablaContent thead th {
	position: sticky;
	top: 0;
	padding: 1vh .5vw;
	background-color: var(--bg__color--input);
}




.tablaContent thead tr {
	font-family: 'Montserrat' !important;
}

.tablaContent tbody td {
	/* background-color: red; */
	text-align: center;
}

.table__container::-webkit-scrollbar {
	opacity: 0;
	width: 0;
	scrollbar-width: none;
	display: none;

}

.table__container::-webkit-scrollbar-track {
	opacity: 0;
	width: 0;
	scrollbar-width: none;
	display: none;
}

.table__container::-webkit-scrollbar-thumb {
	opacity: 0;
	width: 0;
	scrollbar-width: none;
	display: none;
}

#query{
	text-align: left;
	font-family: "Montserrat" !important;
	font-size: 0.8rem;
	color: var(--color--secondary);
	font-weight: 500;
}

#values{
	font-family: "Montserrat" !important;
	font-size: 0.9rem;
	color: var(--color--title);
	font-weight: 600;
}

#time{
	font-family: "Montserrat" !important;
	font-size: 0.9rem;
	font-weight: 600;
}


@keyframes bg {
	0% {
		backdrop-filter: blur(0px);
		background-color: #00000000;
	}

	100% {
		backdrop-filter: blur(10px);
		background-color: rgba(5, 5, 5, 0.5);
		;
	}
}