@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

:root {
    --black: black;
    --white: white;
    --gray: rgba(128, 128, 128, 0.625);
    --section: white;
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: 'Lato', sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body.dark {
    --black: rgb(255, 255, 255);
    --white: rgb(0, 0, 0);
    --gray: rgba(128, 128, 128, 0.625);
    --section: rgb(37, 37, 37);
}

main {
    display: flex;
}

section {
    flex: 1;
    min-height: 100vh;
    position: relative;
    background-color: var(--section);
}

.sidebar {
    max-width: 300px;
    height: 100vh;
    min-height: 800px;
    background-color: var(--white);
    border-right: 1px solid var(--gray);
    overflow: auto;
    position: relative;
    transition: max-width 0.5s;
    overflow: hidden;
}

.colleps-btn {
    background-color: transparent;
    position: absolute;
    bottom: 40px;
    right: 30px;
    border: none;
    font-size: 26px;
    transform: rotate(-90deg);
    cursor: pointer;
    padding: 12px;
    color: var(--black);
    transition: all 0.4s ease;
}

.content-page {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content-page h1 {
    font-size: 60px;
    line-height: 70px;
    color: var(--black);
}

.sidebar-navlink {
    padding: 26px;
    padding-top: 100px;
}

ul {
    list-style: none;
    padding-top: 100px;
}

a {
    text-decoration: none;
}

ul li:not(:last-child) {
    padding-bottom: 40px;
}

ul li a {
    padding: 12px;
    color: var(--black);
    font-size: 22px;
    line-height: 30px;
    transition: all 0.3s ease;
    border-radius: 6px;
    display: block;
    white-space: nowrap;
}

ul li a span {
    white-space: nowrap;
}

ul li a:hover {
    background-color: rgba(128, 128, 128, 0.114);
}

.toggle-dark-theme {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.toggle-dark-theme button {
    width: 70px;
    background-color: gray;
    border-radius: 20px;
    border: none;
    position: relative;
    padding: 4px;
    cursor: pointer;
}

.toggle-dark-theme .icon {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgb(50, 0, 106);
    position: relative;
    transition: all 0.5s ease;
}

.toggle-dark-theme .icon::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    content: "\f186";
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

body.dark .toggle-dark-theme .icon {
    transform: translateX(calc(100% + 10px));
    background-color: yellow;
}

body.dark .toggle-dark-theme .icon::before {
    color: black;
    content: "\f185";
}

.sidebar.shrink_sidebar ul li a span {
    opacity: 0;
    transition: all 0.4s ease;
}

.sidebar.shrink_sidebar {
    max-width: 100px;
    transition: max-width 0.5s;
}

.sidebar.shrink_sidebar .colleps-btn {
    transform: rotate(90deg);
}

.sidebar_tab_active {
    background-color: var(--gray);
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

.header-tab {
    top: 0;
    left: 0;
    margin: 2vh;
    margin-left: 4vh;
}

.search-resource {
    position: relative;
    margin: 5vh;
}

#search {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
}

input[type="search"] {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

.search-results {
    margin: 5vh;
}

.result {
    height: 7vh;
    border-radius: 1vh;
    background-color: var(--gray);
    color: white;
    display: flex;
    margin-bottom: 2vh;
}

.result h2 {
    margin-top: 1.7vh;
    margin-bottom: 1.7vh;
    margin-left: 1.7vh;
}

.result h3 {
    margin: 2vh;
    margin-right: 5vh;
    color: #9c9c9c;
}

.result:hover {
    background-color: #cfcece;
    color: var(--color-dark);
    cursor: pointer;
}

.divisor {
    height: 0.2vh;
    background: rgb(59, 59, 59);
    background: linear-gradient(90deg, var(--color-dark) 00%, rgba(255, 255, 255, 1) 50%, var(--color-dark) 90%);
    margin: 5vh;
}